
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/

profiles/
build/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/
native/engine/
#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/